{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <title>Starting Page</title>
</head>

<body>
    <div>

    </div>
    <div class="title_container">
        <H1 class="Main_title">NAME</H1>
    </div>
    
    <div class="butten_container">
        <button onclick = "window.location.href='http://127.0.0.1:8000/signup/';" type="Register" class="reg_button1" >Register</button>
        <button onclick = "window.location.href='http://127.0.0.1:8000/login/';" type="Login" class="login_button1" >Login</button>
    </div>
</body>
</html>